:root {
  --primary-color: #ff8f14;
  --seconday-color: #070707;
  --grey-200: #eeeeee;
  --color-text: #575757;
  --color-background: #ffffff;
}

* {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

main .testimony-form {
  margin-bottom: 50px;
}

.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  height: 140px;
  align-items: center;
  font-size: 28px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 4;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
}

.nav-container ul li a {
  font-weight: 700px;
  font-size: 1.2em;
}

.nav-container li a {
  text-decoration: none;
  color: black;
  transition: transform 0.5s;
}

.nav-container li a:hover {
  color: var(--primary-color);
}

.navbar {
  background: rgb(19, 7, 19);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mvp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  border: white;
  font-size: 20px;
  font-family: "montserrat", sans-serif;
}

.about {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  max-width: 500px;
  text-align: center;
  color: var(--color-text);
  line-height: 1.8rem;
}

.expect {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  max-width: 500px;
  text-align: center;
  color: var(--color-text);
  line-height: 1.8rem;
}

.facilitators {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: start;
  padding: 40px;
  margin: 50px;
  gap: 20px;
  justify-items: center;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.3);
}

.facilitators p {
  font-weight: bold;
  font-size: 20px;
}

.facilitators img {
  object-fit: fill;
  transition: transform 0.5s;
  margin-bottom: 10px;
  height: auto;
}

.facilitators img:hover {
  transform: scale(1.35);
}

li {
  color: black;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-size: 70px;
  font-weight: bold;
  color: var(--primary-color);
}

.logo p {
  font-size: 20px;
}

.join {
  background-color: #8b5e4b;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.info-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-cards h1 {
  color: var(--primary-color);
  font-size: 24px;
}

/*adding to the form */
.testimony-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--grey-200);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.testimony-form input,
.testimony-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.testimony-form input:focus,
.testimony-form textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
  caret-color: var(--primary-color);
}

.testimony-form button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--color-background);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.testimony-form button:hover {
  background-color: #e67e0c;
}
.footer {
  background-color: black;
  height: 150px;
  padding: 0px;
  margin: 0px;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  color: white;
  position: relative;
  z-index: 10;
  width: 100%;
}

.footer h2 {
  color: white;
}

.footer img {
  font-size: 30px;
  justify-self: end;
  margin: 30px 50px;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 60px;
  padding: 50px;
  margin-bottom: 50px;
}

#card {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.3);
  transition: transform 0.5s;
  height: 400px;
  min-width: 400px;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.5s;
}

#card:hover {
  transform: scale(1.05);
}

.card {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.3);
  transition: transform 0.5s;
  height: 400px;
  min-width: 400px;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.5s;
}

.card h2 {
  font-size: 20px;
}

.card p {
  color: #575757;
  text-align: center;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.8rem;
}

.card:hover {
  transform: scale(1.05);
}

h4 {
  text-align: center;
}

@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .nav-container {
    background: black;
    width: 1200px;
  }
  .nav-container ul li a {
    color: var(--primary-color);
  }
  /* .nav-container i {
    display: inline-block;
    font-size: 16px;
    color: black;
  } */

  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar {
    background-color: rgb(46, 35, 46);
  }

  li {
    color: orange;
  }

  .logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
  }
  button {
    color: red;
  }
  .about h1 {
    color: var(--primary-color); /* or any other desired color */
  }
  .expect h1 {
    color: var(--primary-color);
  }

  .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 50px;
    margin-bottom: 50px;
  }

  .footer {
    background: white;
    color: black;
    font-weight: 800px;
    font-size: 18px;
  }
}
