:root {
  --primary-color: #ff8f14;
  --seconday-color: #070707;
  --grey-200: #eeeeee;
  --color-text: #575757;
  --color-background: #ffffff;
}

* {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  margin: 0;
  height: 140px;
  align-items: center;
  font-size: 28px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

.nav-container ul li {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
}

.nav-container li {
  font-weight: 400px;
}

.nav-container i {
  display: none;
}

.nav-container li a {
  text-decoration: none;
  color: white;
  transition: transform 0.5s;
}

.nav-container li a:hover {
  color: var(--primary-color);
}

.navbar {
  background: rgb(19, 7, 19);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mvp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  border: white;
  font-size: 20px;
  font-family: "montserrat", sans-serif;
}

.about {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  max-width: 500px;
  text-align: center;
  color: var(--color-text);
  line-height: 1.8rem;
}

.expect {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  max-width: 500px;
  text-align: center;
  color: var(--color-text);
  line-height: 1.8rem;
}

.facilitators {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px;
  margin: 50px;
  gap: 20px;
}

.facilitators p {
  font-weight: bold;
  font-size: 20px;
}

.facilitators img {
  object-fit: fill;
  transition: transform 0.5s;
}

.facilitators img:hover {
  transform: scale(1.35);
}

li {
  color: black;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-size: 70px;
  font-weight: bold;
  color: var(--primary-color);
}

.logo p {
  font-size: 20px;
}

.join {
  background-color: #8b5e4b;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.info-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-cards h1 {
  color: var(--primary-color);
  font-size: 24px;
}

.footer {
  background-color: black;
  height: 150px;
  padding: 0px;
  margin: 0;
  flex: 1;
}

.footer img {
  font-size: 30px;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.3);
  transition: transform 0.5s;
  height: auto;
  min-width: 300px;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.5s;
}

.card-1:hover,
.card-2:hover,
.card-3:hover,
.card-4:hover {
  transform: scale(1.15);
}

@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }

  .nav-container {
    background: white;
    width: 100%;
  }
  .nav-container ul li a {
    color: black;
  }
  .nav-container i {
    display: inline-block;
    font-size: 22px;
    color: black;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  body {
    background-color: black;
    color: gold;
  }
  .navbar {
    background-color: rgb(46, 35, 46);
  }

  li {
    color: orange;
  }

  .logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    color: White;
  }
  button {
    color: red;
  }
  .about h1 {
    color: var(--primary-color); /* or any other desired color */
  }
  .expect h1 {
    color: var(--primary-color);
  }

  .footer {
    background: white;
    color: black;
    font-weight: 800px;
    font-size: 18px;
  }
}
