:root {
  --primary-color: #ff8f14;
  --seconday-color: #070707;
  --grey-200: #eeeeee;
  --color-text: #575757;
  --color-background: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-background);
}

h1 {
    text-align: center;
}

.testimony-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    left: 50%;
    gap: 20px;
    border: black 2px solid;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Optional: Add some shadow for better visibility */
    background-color: #fff; /* Optional: Add a background color */
    border-radius: 50px;
    margin-bottom: 50px;
}

.testimony-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}



.testimony-form input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.testimony-form #test-area {
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; 
}

.testimony-form form input[type=text]{
    font-size: 20px;
}

