* {
  text-decoration: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/images/lightning.png");
  background-size: cover;
}

.navbar {
  background: rgb(19, 7, 19);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-size: 27px;
  font-weight: bold;
  color: Gold;
  font-family: robo`;
}

button {
  background-color: whitesmoke;
  color: weight;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

@media CALL {
}
